<header id="header">
  <a class="home-link" href="/">
    <img class="logo" src="https://i.imgur.com/J303pQ4.png">
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a class="app-title" routerLink="/news/1">Angular 2 HN</a>
      </h1>
      <span class="header-nav">
        <a routerLink="/newest/1">new</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/show/1">show</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/ask/1">ask</a>
        <span class="divider">
          |
        </span>
        <a routerLink="/sources">NEWS</a>
      </span>
    </div>
    <div class="info">
      Built with <a href="https://cli.angular.io/" target="_blank">Angular CLI</a>
    </div>
  </div>
</header>
