<p>
  Story #{{item.id}}
</p>
<div *ngIf="item">
  <div class="item-laptop">
    <p>
      <a class="title" href="{{item.url}}" target="_blank" rel="noopener">{{item.title}}</a>
      <span *ngIf="item.domain" class="domain">{{item.domain}}</span>
    </p>

    <div class="subtext-laptop">
    <span>
      {{item.points}} points by
      <a href="">{{item.user}}</a>
    </span>
    <span>
      {{item.time_ago}}
      <span> |
        <a routerLink="/comments/{{item.id}}">
          <!--<a routerLink="['/item',item.id]">-->
          <span *ngIf="item.comments_count !== 0">
            {{item.comments_count}}
            <span *ngIf="item.comments_count === 1">comment</span>
            <span *ngIf="item.comments_count > 1">comments</span>
          </span>
          <span *ngIf="item.comments_count === 0">discuss</span>
        </a>
      </span>
    </span>
    </div>
  </div>
  <div class="item-mobile">
    <!-- Markup that shows only on mobile (to give the app a
      responsive mobile feel). Same attributes as above
      nothing really new here (but refer to the source
      file if you're interested) -->
    <p>
      <a class="title" href="{{item.url}}" target="_blank" rel="noopener">
        {{item.title}}
      </a>
      <span class="domain">{{item.domain}}</span>
    </p>

    <div class="subtext-palm">
      <div class="details">
        <span class="name"> <a href="" rel="noopener">{{item.by}}</a></span>
        <span class="right">{{item.score}} ★</span>
      </div>
      <div class="details">
        {{item.time_ago}}
        <a routerLink="/comments/{{item.id}}" class="comment-number"> •
        <span *ngIf="item.comments_count !== 0">
          {{item.descendants}}
          <span *ngIf="item.comments_count === 1">comment</span>
          <span *ngIf="item.comments_count > 1">comments</span>
        </span>
          <span *ngIf="item.comments_count === 0">discuss</span>
        </a>
      </div>
    </div>
  </div>
</div>
