<div class="" *ngIf="!items && !error">
  <h2 style="text-align: center; margin-bottom: 10px;">
    <img src="assets/images/bar_loader.gif">
  </h2>
</div>
<h2 style="text-align: center; margin-bottom: 10px;" *ngIf="error" class="error">
  <img src="assets/images/error.png"><br />
  Oops!, {{errorMessage}}
</h2>
<div class="main-content" *ngIf="items">
  <h4>News Type: <span style="color: #B92B27;">{{storiesType}}</span> , Page: <span style="color: #B92B27;">{{pageNum}}</span></h4>
  <ol>
    <!--<li *ngFor="let item of items | slice:0:30; let i = index" class="post">-->
    <li *ngFor="let item of items" class="post">
      <!--Story #{{i}}-->
      <!--<app-item class="item-block" itemID="{{item}}"></app-item>-->
      <app-item class="item-block" [item]="item"></app-item>
    </li>
  </ol>

  <div class="nav">
    <a *ngIf="listStart !== 1" (click)="prev()" class="prev"><button>< Prev</button></a>
    <a *ngIf="items.length === 30" (click)="next()" class="more"><button>More ></button></a>
    <!--<a *ngIf="items.length !== 1" routerLink="/{{storiesType}}/{{pageNum-1}}" class="prev">< Prev</a>-->
    <!--<a *ngIf="items.length === 30" routerLink="/{{storiesType}}/{{pageNum+1}}" class="prev">More ></a>-->
  </div>
</div>
