$mobile-only: "only screen and (max-width : 768px)";
$laptop-only: "only screen and (min-width : 768px)";

h2{
  margin-top: 60px;
}

ul{
  list-style: none;
  width: 50vw;
}

//ul li{
//  border: #bcbcbc solid 2px;
//  border-bottom: 1px;
//  background-color: #eaeaea;
//  padding-top: 5px;
//  padding-bottom: 5px;
//}
//
ul li a{
  display: block;
  text-decoration: none;
}

#pointer {
  //width: 50vW;
  //height: 40px;
  position: relative;
  background: #eaeaea;
  padding: 10px;
  border: #bcbcbc solid 2px;
  margin-bottom: 5px;
}
//#pointer:after {
//  content: "";
//  position: absolute;
//  left: 0;
//  bottom: 0;
//  width: 0;
//  height: 0;
//  border-left: 20px solid white;
//  border-top: 20px solid transparent;
//  border-bottom: 20px solid transparent;
//}
#pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #eaeaea;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

@media #{$mobile-only} {
  ul{
    padding: 0;
    width: 95vw;
  }
}
