
.h-container{
  width: 100%;
  //overflow: hidden;
  display: grid;
  //grid-template-columns: repeat(2,1fr);
  grid-template-columns: 100px auto;
  grid-gap: 5px;
  grid-auto-rows: minmax(100px,auto);
}
.h-body{
  border-bottom: #a3a3a3 solid 1px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
.h-body h3{
  margin: 0;
}
h2 a{
  text-decoration: none;
}
.h-image{
  //float: left;
}
.h-body p{
  margin: 0;
}
.h-body span{
  color: #bcbcbc;
}

.h-header{
  margin-top: 60px;
}
.h-time{
  font-size: smaller;
  font-weight: lighter;
}
