<div class="" *ngIf="!headlines && !error">
  <h2 style="text-align: center; margin-bottom: 10px;">
    <img src="assets/images/bar_loader.gif">
  </h2>
</div>
<h2 style="text-align: center; margin-bottom: 10px;" *ngIf="error" class="error">
  <img src="assets/images/error.png"><br />
  Oops! Something went wrong, RUN!!
</h2>
<h2 class="h-header">{{source}} Headlines</h2>
<div *ngFor="let hl of headlines" class="h-container">
  <div class="h-image">
    <!--<img src="{{hl.urlToImage}}" alt="article image" width="100">-->
    <img [src]="hl.urlToImage" alt="article image" width="100">
  </div>
  <div class="h-body">
    <h3><a href="{{hl.url}}" target="_blank">{{hl.title}}</a></h3>
    <p>{{hl.description}}</p>
    <span class="h-time">{{hl.publishedAt}}</span>
  </div>
</div>
